.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content {
    flex-grow: 1;
    transition: margin-left 0.3s ease-in-out;
    overflow-y: auto;
  }

  .sidebar {
    padding-top: 20px;
    width: 450px;
    height: 100vh; 
    overflow-y: auto; 
   
  }

  .sidebar-search {
    position: relative;
  }


.sidebar-search .search-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
  }
  
  .sidebar-search input {
    padding-left: 2.5rem;
  }


  
/* Initial state for links and icons */
.sidebar-content .nav-link {
    color: #000;
  }
  
  .sidebar-content .sidebar-icon {
    color: #000; 
    transition: color 0.2s ease; 
  }
  
  
  .sidebar-content .nav-link:hover {
    color: #32CD32; 
    background-color: transparent; 
  }
  
  
  .sidebar-content .nav-link:hover .sidebar-icon {
    color: #32CD32; 
  }
  
  .sidebar-content {
    flex-grow: 1;
  }

.nav-tabs .nav-link {
    color: #000;
  }
  
  .nav-tabs .nav-link.active {
    color: #000;
  }
  
  
  .card {
    margin-bottom: 20px;
  }
  
  .text-success {
    color: #32CD32 !important;
  }
  
  .bg-success {
    background-color: #32CD32 !important;
  }
  
  .card-height{
    height: auto;
    padding-bottom: 63px;
  }
  
  .custom-table-header {
    background-color: #32CD32;
    color: white;
  }

  .dash{
    padding-top: 100px;
    overflow-x: hidden;
    height: 100vh;
  }
  